@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model ASPLAB_2.Models.Stationery

<h1> Add Stationery</h1>

<form method="post" asp-action="Add" asp-controller="Stationery">
    <div class="mt-3">
        <label class=" form-label">Name</label>
        <input type="text" class="form-control" asp-for="Name" />
    </div>

    <div class="mt-3">
        <label class=" form-label">Type</label>
        <input type="text" class="form-control" asp-for="Type" />
    </div>

    <div class="mt-3">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>