@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model ASPLAB_2.Models.Order

<h1> Add Order</h1>

<form method="post" asp-action="Add" asp-controller="Order">
    <div class="mt-3">
        <label class=" form-label">User</label>
        <input type="text" class="form-control" asp-for="User" />
    </div>

    <div class="mt-3">
        <label class=" form-label">ProductsCost</label>
        <input type="text" class="form-control" asp-for="ProductsCost" />
    </div>

    <div class="mt-3">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>