.animated {
    height: 100vh;
    width: 100vw;
    animation: change-background 2s ease infinite;
}

@keyframes change-background {

    0% {
        background-color: #fe5d26;
    }

    50% {
        background-color: #faedca;
    }

    100% {
        background-color: #7ebc89;
    }
}